body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
}

header {
    position: relative;
    overflow: hidden;
}

.header-image {
    position: relative;
    width: 100%; /* Set the image width to 100% of its container (the header) */
    height: auto; /* Maintain aspect ratio */
    max-width: 100vw;
    margin: 0; /* Add spacing between image and title */
    padding: 0; /* Ensure the image doesn't exceed the viewport width */
    display: block;
    object-fit: cover;
}

.header-title {
    position: absolute; /* Set position to absolute */
    top: 50%; /* Position title at the vertical center */
    left: 50%; /* Position title at the horizontal center */
    transform: translate(-50%, -50%); /* Center the title */
    color: #000; /* Set title color */
    font-size: 50px; /* Adjust title font size */
    font-family: garamond;
    text-align: center; /* Center align the title */
    margin: 0;
    padding: 0;
    line-height: 1;
    z-index: 1; /* Ensure title is above the image */
}

.header-nav ul {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.header-nav ul li {
    display: inline-block; /* Display list items inline */
    margin-left: 20px; /* Add spacing between list items */
}

.header-nav ul li:first-child {
    margin-left: 0; /* Remove left margin from the first list item */
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

section {
    padding: 100px 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    /* animation: fadeIn 0.5s ease-in-out; */
}

#about {
    background-color: #696969;
}

#skills {
    background-color: #808080;
}

#documents {
    background-color: #a9a9a9;
}

#photo {
    background-color: #dcdcdc ;
}

#projects {
    background-color: #c0c0c0;
}

#contact {
    background-color: #d3d3d3;
}

section h2 {
    margin-top: 0;
}

.project {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    background-color: #333;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

.hidden {
    display: none;
}

/* Styling for About Me section */
.about-section {
    background-color: #696969;
    padding: 50px;
    /* margin: 0; */
}

/* Styling for Skills section */
.skills-section {
    background-color: #808080;
    padding: 200px;
}

/* Styling for Documents section */
.documents-section {
    background-color: #a9a9a9;
    padding: 200px;
}

#documents-content {
    max-width: 600px; /* Adjust the maximum width of the content */
    margin: 0 auto; /* Center the content horizontally */
}

.document-input {
    margin-bottom: 20px; /* Add space below each document input group */
}

label {
    display: inline-block;
    width: 100px; /* Adjust the width of the labels */
    font-weight: bold;
}

input[type="file"], button {
    margin-left: 10px; /* Add space between input and button */
}

button {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
}


.photo-section {
    background-color: #dcdcdc;
    padding: 100px;
}

.projects-section {
    background-color: #c0c0c0;
    padding: 200px;
}

.contact-section {
    background-color: #d3d3d3;
    padding: 200px;
}

#photos-gallery {
    display: grid; /* Use CSS Grid for layout */
    grid-template-columns: repeat(auto-fill, minmax(105mm, 1fr)); /* Define rows as A7 size */
    grid-auto-rows: 74mm; /* Set column width to A7 size */
    grid-gap: 10px; /* Add gap between images */
    justify-content: center; /* Center the grid horizontally */
    align-content: flex-start;
    padding: 50px; /* Add padding to the container */
}

#photos-gallery img {
    max-width: 100%; /* Ensure image doesn't exceed container width */
    max-height: 100%; /* Ensure image doesn't exceed container height */
    object-fit: cover;
}

html{
    scroll-behavior: smooth;
}

footer {
    background-color: #fff;
    color: #333;
    padding: 20px;
    text-align: center;
}

.contact-details {
    margin-top: 20px;
}

.contact-details h3 {
    margin-bottom: 10px;
}

.contact-details p {
    margin: 5px 0;
}

.certificate-item {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.certificate-item img {
    max-width: 150px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    background-color: #f9f9f9;
}

.certificate-item a {
    display: block;
    margin-top: 5px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.certificate-item a:hover {
    text-decoration: underline;
}
